// Font Import
@include import-font($font-family-default);
@include import-font($font-family-title);
@include import-font($font-family-promo);
@include import-font($font-family-subpromo);

body {
	font-family: get-font-family($font-family-default);
	font-weight: $font-weight-regular;
}

// Headings
h1, h2, h3, h4, h5 {
	font-family: get-font-family($font-family-title);
	font-weight: $font-weight-light;
	margin: $leading-margin 0 ($leading-margin / 2) 0;
}
h1 {
	font-size: $h1-font-size;
}
h2 {
	font-size: $h2-font-size;
}
h3 {
	font-size: $h3-font-size;

  &.g-title {
    font-size: $core-font-size + 0.8;
    font-family: get-font-family($font-family-title);
    font-weight: $font-weight-regular;
    margin: $content-margin 0 $content-margin + $content-padding 0;
  }
}
h4 {
	font-size: $h4-font-size;
}
h5 {
	font-size: $h5-font-size;
}
h6 {
	font-size: $h6-font-size;
}

// Horizontal Rule
hr {
	display: block;
	margin: 4rem 0;
	border-bottom: 1px solid $rule-color;
}

// Title
.g-title {
  font-size: $core-font-size - 0.2;
  text-transform: uppercase;
  font-weight: $font-weight-bold;
	line-height: $core-line-height;
	margin: 0 0 $content-margin 0;
	padding: 0 0 $content-padding 0;
	position: relative;
	// Title Variations
	.g-title-xlarge & {
		font-size: $core-font-size + 2;
		font-weight: $font-weight-regular;
		line-height: $core-line-height - 0.5;
		padding: 0;
		@include breakpoint(small-mobile-range) {
			font-size: $core-font-size - 1;
			line-height: $core-line-height - 0.25;
		}
	}
	.g-title-large & {
		font-size: $core-font-size + 1;
		font-weight: $font-weight-regular;
		line-height: $core-line-height - 0.25;
		padding: 0;
		@include breakpoint(small-mobile-range) {
			font-size: $core-font-size + 0.75;
		}
	}
	.g-title-small & {
		font-size: $core-font-size - 0.1;
		font-weight: $font-weight-bold;
	}
	.g-title-300 & {
		font-weight: 300;
	}
}

// Lead Content
.g-lead {
	position: relative;
	font-family: get-font-family($font-family-default);
	font-weight: $font-weight-regular;
  color: lighten($base-text-color, 20%);
	line-height: $core-line-height - 0.15;
	margin: ($content-margin * 2) 0 $content-margin 0;
	padding: ($content-padding * 2) 0 $content-padding 0;
}

// Blockquote
blockquote {
	border-left: 10px solid $rule-color;
	p {
		font-size: $core-font-size + 0.1;
		color: lighten($base-text-color, 20%);
	}
	cite {
		display: block;
		text-align: right;
		color: $base-text-color;
		font-size: $core-font-size + 0.2;
	}
}

// Inline and Code
code,
kbd,
pre,
samp {
	font-family: $font-family-mono;
}

code {
	background: $code-bg;
	color: darken($code-text,10%);
}

pre {
	padding: 1rem;
	margin: 2rem 0;
	background: $pre-bg;
	border: 1px solid $base-border-color;
	border-radius: $core-border-radius;
	line-height: 1.15;
	font-size: $core-font-size - 0.1;

	code {
		color: $pre-text;
		background: inherit;
		font-size: $core-font-size - 0.1;
	}
  &.prettyprint {
    border-color: $border-color-light !important;
  }
}

// Additional
hr {
	border-bottom: 1px solid $rule-color;
}
.g-para {
	margin: 0.3rem 0 1rem;
}
