.ui-tabs {
  position: relative;
  .ui-tabs-nav {
    margin: 0;
    @include display(flex);
    li {
      list-style: none;
      float: left;
      border-bottom-width: 0;
      padding: 0;
      outline: none;
      &.ui-tabs-active {
        .ui-tabs-anchor {
          cursor: text;
        }
      }
      &.ui-state-disabled .ui-tabs-anchor {
        cursor: text;
      }
      &.ui-tabs-loading .ui-tabs-anchor {
        cursor: text;
      }
    }
    .ui-tabs-anchor {
      text-decoration: none;
    }
  }
}
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
  cursor: pointer;
}

.g-contenttabs {
  .g-contenttabs-tab {
    outline: none;
  }
  .g-contenttabs-tab-wrapper-container {
    list-style: none;
    margin: 0 0 1rem 0;
    border-bottom: 1px solid fadeout($white, 75%);
  }
  .g-contenttabs-content-wrapper-container {
    list-style: none;
    margin: 0;
  }
  .g-contenttabs-tab-wrapper-head {
    display: block;
    cursor: pointer;
    padding: ($content-padding / 3) $content-padding;
    margin-bottom: -1px;
  }
  .g-contenttabs-tab-subtitle,
  .g-contenttabs-tab-title {
    display: block;
    outline: none;
  }
  .g-contenttabs-tab-title {
    font-size: $core-font-size - 0.2;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
  }
  .g-contenttabs-tab-subtitle {
    font-size: $core-font-size - 0.25;
  }
  .g-contenttabs-content {
    @include display(flex);
    @include flex-flow(row wrap);
    @include flex-wrap(wrap);
  }
  .g-contenttabs-content-tag,
  .g-contenttabs-content-text {
    position: relative;
    min-width: 0;
    min-height: 0;
  }
  .g-contenttabs-content-tag {
    font-weight: bold;
    font-size: $core-font-size - 0.2;
    text-transform: uppercase;
    margin-top: 2px;
    @include flex(0 1 20%);
    width: 20%;
    @include breakpoint(tablet-range) {
      @include flex(0 1 100%);
      width: 100%;
    }
    @include breakpoint(mobile-only) {
      @include flex(0 1 100%);
      width: 100%;
    }
    padding-right: $content-padding;
    .dir-rtl & {
      padding-right: 0;
      padding-left: $content-padding;
    }
  }
  .g-contenttabs-tag {
    @include display(flex);
    @include flex-flow(row wrap);
    @include flex-wrap(wrap);
    vertical-align: middle;
    width: 100%;
    margin-top: $content-padding + $content-margin;
  }
  .g-contenttabs-content-tag-text {
    display: block;
    word-break: break-all;;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
  .g-contenttabs-content-subtag-text {
    font-size: $core-font-size + 0.5;
    font-weight: $font-weight-regular;
    word-break: break-all;;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
  .g-contenttabs-content-subtag-dot {
    border-radius: 100%;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-bottom: 0.2rem;
    margin-right: $content-padding;

    &.g-contenttabs-content-subtag-dot-accent1 {
      background-color: $accent-color-1;
    }
    &.g-contenttabs-content-subtag-dot-accent2 {
      background-color: $accent-color-2;
    }
    &.g-contenttabs-content-subtag-dot-accent3 {
      background-color: $accent-color-3;
    }
    &.g-contenttabs-content-subtag-dot-accent4 {
      background-color: $accent-color-4;
    }

    .dir-rtl & {
      margin-right: 0;
      margin-left: $content-padding;
    }
  }
  .g-contenttabs-content-text {
    @include flex(0 1 80%);
    width: 80%;
    @include breakpoint(tablet-range) {
      @include flex(0 1 100%);
      width: 100%;
    }
    @include breakpoint(mobile-only) {
      @include flex(0 1 100%);
      width: 100%;
    }
  }
  .g-contenttabs-tab-wrapper-body {
    padding: 0;
  }
}

.ui-tabs-active {
  .g-contenttabs-tab-wrapper-head {
    background: $accent-color-1;
  }
  .g-contenttabs-tab-subtitle,
  .g-contenttabs-tab-title {
    color: $white;
  }
}
