%link-parent-indicator {
  border: 1px solid lighten($navigation-background, 6%);
  background: darken($navigation-background, 4%);
  &:hover {
    background: darken($navigation-background, 8%);
  }
}

#g-navigation {
  background: $navigation-background;
  color: $navigation-text-color;
  position: relative;
  z-index: 10001;

  &.nav-large-offset {
    padding-bottom: 15rem;
    margin-bottom: -15.5rem;
    position: static;
  }

  // Container
  .g-container {
    position: relative;

    .g-block {
      > .g-content {
        margin: $content-margin 0;
        padding: 0.5rem 0;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }

    .g-block:first-child {
      > .g-content {
        margin-left: $content-margin + $content-padding;
        padding-left: 0;

        .dir-rtl & {
          margin-right: $content-margin + $content-padding + 0.28;
          margin-left: 0;
        }
      }
    }
    .g-block:last-child {
      > .g-content {
        margin-right: $content-margin + $content-padding;
        padding-right: 0;

        .dir-rtl & {
          margin-left: $content-margin + $content-padding;
          margin-right: 0;
        }
      }
    }
  }

  // Menu Styling
  .g-main-nav {
    margin-top: 0.5rem;
    @include breakpoint(tablet-range) {
      margin-left: 5rem;
    }
    @include breakpoint(desktop-range) {
      margin-left: 2.2rem;
    }
    font-family: get-font-family($font-family-default);
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    .g-toplevel {

      > li {
        margin: 0 0.5rem;
        margin-bottom: $content-padding + $content-margin;
        @include breakpoint(tablet-range) {
          margin: 0 0.2rem;
          margin-bottom: $content-padding + $content-margin;
        }
        > .g-menu-item-container {
          font-size: $core-font-size - 0.1;
          @include breakpoint(tablet-range) {
            font-size: $core-font-size - 0.25;
          }
          color: fadeout($navigation-text-color, 55%);
          padding: 0;
          .g-menu-parent-indicator {
            &:after {
              content: "\f107";
              opacity: 0.75;
            }
          }
          i {
            opacity: 1;
          }
          .g-menu-item-title {
            padding-bottom: $content-padding;
            border-bottom: 2px solid transparent;
            @include transition(border-color 0.75s ease-out);
          }
        }
        &:hover, &.active {
          > .g-menu-item-container {
            color: $navigation-text-color;
            > .g-selected {
              color: $navigation-text-color;
            }
            .g-menu-item-title {
              border-bottom: 2px solid $navigation-text-color;
            }
          }
        }
      }
    }

    .g-dropdown {
      background: $base-background;
      border: 1px solid $rule-color;
      border-radius: $border-radius + 1;
      > .g-dropdown-column {
        border: 1px solid transparent;
      }
      a {
        color: $base-text-color;
        &:hover {
          color: $accent-color-1;
        }
      }
      .g-dropdown-column {
        position: relative;
      }
      .g-dropdown {
        margin-left: 20px;
      }
    }

    .g-sublevel {
      > li {
        > .g-menu-item-container {
          font-weight: $font-weight-regular;
          color: $base-text-color;
          border-bottom: 1px solid $rule-color;
          > .g-selected {
            color: $base-text-color;
            border-bottom: 1px solid $rule-color;
          }
        }
        &:last-child {
          > .g-menu-item-container {
            border-bottom: 0 !important;
            > .g-selected {
              border-bottom: 0 !important;
            }
          }
        }

        &:hover, &.active {
          > .g-menu-item-container {
            color: $accent-color-1;
            border-bottom: 1px solid darken($rule-color, 15%);
            > .g-selected {
              color: $accent-color-1;
              border-bottom: 1px solid darken($rule-color, 15%);
            }
          }
        }
        &.g-menu-item-type-particle {
          > .g-menu-item-container {
            border: 0;
          }
          &:hover, &.active {
            > .g-menu-item-container {
              border: 0;
            }
          }
        }

        &.g-menu-item-type-particle {
          &:hover {
            > .g-menu-item-container {
              background: inherit;
            }
          }
        }
      }
    }
  }
  .g-menu-block {
    @include breakpoint(mobile-only) {
      display: none;
    }
  }
  .g-menu-item-subtitle {
    text-transform: lowercase;
    font-size: 0.85rem;
    font-weight: bold;
    opacity: 0.8;
    padding-top: 0;
  }

  // Social
  .g-social {
    line-height: 2rem;

    a {
      color: $navigation-background;
      background: fadeout($navigation-text-color, 65%);
      width: 1.3rem;
      height: 1.3rem;
      line-height: 1.4rem;
      font-size: 0.9rem;
      vertical-align: bottom;
      &:hover {
        background: $accent-color-2;
      }
    }
    @include breakpoint(mobile-only) {
      text-align: center !important;
    }
    .dir-rtl & {
      text-align: left !important;
    }
  }
}

.g-offcanvas-toggle {
  display: none;
  @include breakpoint(mobile-only) {
    display: block;
  }
}

@media print {
  #g-navigation {
    background: #fff !important;
    color: #000 !important;
  }
}
