.g-newsletter {
	// General
	.g-newsletter-headtext {
		margin-bottom: $content-margin;
		padding-bottom: $content-padding;
	}
	.g-newsletter-sidetext {
		font-size: $core-font-size - 0.2;
		text-transform: uppercase;
	    float: left;
	    line-height: 40px;
	    margin-right: $content-padding;
      .dir-rtl & {
        float: right;
        margin-left: $content-padding;
        margin-right: 0;
      }
	    @include breakpoint(small-mobile-range) {
	    	float: none;
	    	margin-right: 0;
	    	margin-bottom: $content-padding / 2;
	    }
	}
	.g-newsletter-inputbox,
	.g-newsletter-button {
		input,
		.g-newsletter-button-submit {
			height: 40px;
			border-radius: 0;
			box-shadow: none;
            font-size: $core-font-size - 0.125;
		}
	}
	.g-newsletter-inputbox {
		input {
      color: $base-background;
			border: 2px solid fadeout($white, 75%);
			background: transparent;
			padding: 0 $content-padding;
			margin-bottom: 0;
		}
	}
	.g-newsletter-button {
		.g-newsletter-button-submit {
			color: $white;
			background: $accent-color-2;
			border: 2px solid transparent;
			padding: 0 ($content-padding / 2);
			margin-bottom: 0;
			display: block;
			text-align: center;
			&:hover {
				background: $accent-color-1;
			}
			@include breakpoint(mobile-only) {
				width: 100%;
			}
		}
		.g-newsletter-button-icon {
			color: $white;
			i {
				font-size: $core-font-size + 0.25;
				line-height: 40px;
				vertical-align: middle;
			}
		}
		.g-newsletter-button-text {
			vertical-align: middle;
		}
	}

	// Layout
	&.g-newsletter-fullwidth {
		width: 100%;
	}
	&.g-newsletter-compact {
		width: 40%;
		.center-block & {
			margin: auto;
		}
		@include breakpoint(desktop-range) {
			width: 50%;
		}
		@include breakpoint(tablet-range) {
			width: 65%;
		}
		@include breakpoint(mobile-only) {
			width: 100%;
		}
	}

	// Style
	&.g-newsletter-stack-fullwidth,
	&.g-newsletter-stack-compact {
		.g-newsletter-inputbox {
			margin-bottom: $content-margin;
		}
	}
	&.g-newsletter-stack-fullwidth {
		.g-newsletter-button {
			.g-newsletter-button-submit {
				width: 100%;
			}
		}
	}
	&.g-newsletter-rounded {
		.g-newsletter-inputbox,
		.g-newsletter-button {
			.g-newsletter-button-submit {
				border-radius: 25px;
			}
		}
	}
	&.g-newsletter-aside-wrap,
	&.g-newsletter-aside-compact {
		.g-newsletter-form-wrapper {
			@include display(flex);
		  	@include flex-flow(row wrap);
		  	@include flex-wrap(wrap);
			.g-newsletter-inputbox,
			.g-newsletter-button {
				@include flex(1 1 auto);
				min-width: 0;
				min-height: 0;
				margin: 0;
			}
			.g-newsletter-inputbox {
				width: 75%;
			}
		}
	}
	&.g-newsletter-aside-wrap {
		.g-newsletter-form-wrapper {
			padding: 5px;
			background: darken($base-background, 5%);
			.g-newsletter-inputbox,
			.g-newsletter-button {
				margin: 0;
				@include breakpoint(mobile-only) {
					@include flex(1 1 auto);
					margin: 0;
				}
				input,
				.g-newsletter-button-submit {
					height: 30px;
				}
			}
			.g-newsletter-inputbox {
				width: 75%;
				@include breakpoint(small-mobile-range) {
					width: 60%;
				}
			}
			.g-newsletter-button-icon {
				i {
					line-height: 30px;
				}
			}
		}
		&.g-newsletter-rounded {
			.g-newsletter-form-wrapper {
				border-radius: 25px;
			}
		}
	}
	&.g-newsletter-aside-compact {
		.g-newsletter-form-wrapper {
			.g-newsletter-button {
				margin-left: -2px;
			}
			.g-newsletter-button-icon {
				i {
					line-height: 40px;
				}
			}
		}
	}
}
