.g-newsslider {
  @include display(flex);
  @include flex-flow(row wrap);
  @include flex-wrap(wrap);
}

.g-newsslider-headlines {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  li {
    position: relative;
    z-index: 70;
    &:hover {
      cursor: pointer;
    }
    i {
      margin-right: 1rem;
    }
  }
}

.g-newsslider-headlines {
  width: 100%;
  background: rgba(255,255,255, 0.06);
  li {
    padding: 2rem;
    padding-left: 4rem;
    .dir-rtl & {
      padding-left: 2rem;
      padding-right: 4rem;
    }
    @include breakpoint(mobile-only) {
      padding: 1.5rem;
      padding-left: 4rem;
    }
    @include breakpoint(tablet-range) {
      padding: 1.5rem;
      padding-left: 4rem;
      font-size: $core-font-size - 0.1;
    }
    @include transition(all 0.75s ease-out);
    opacity: 0.3;
    &:nth-last-child(2) {
      border-bottom: 0;
    }
    &.selected {
      opacity: 1;
      background: $accent-color-1;
      margin-left: -2rem;
      .dir-rtl & {
        margin-left: 0;
        margin-right: -2rem;
      }
      box-shadow: 0px 0px 20px rgba(0,0,0, 0.6);

      &:hover {
        background: $accent-color-1;
      }
      @include breakpoint(mobile-only) {
        margin-left: 0;
      }

    }
    &:hover {
      background: darken($slideshow-background, 10%);
    }
  }
}

.g-newsslider-preview {
  position: relative;
  min-width: 0;
  min-height: 0;
  @include flex(0 1 68%);
  width: 68%;
  @include breakpoint(mobile-only) {
    @include flex(0 1 100%);
    width: 100%;
    min-height: 400px;
  }
  background: $slideshow-background;
}

.g-newsslider-content {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  @include transition(opacity 0.35s);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.g-newsslider-overlay {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  @include background(linear-gradient(top, rgba(125,185,232,0) 0%, darken($slideshow-background, 8%) 100%));
  padding: 0.5rem ($content-margin + $content-padding);
}

.top-content {
  opacity: 1;
  z-index: 50;
}

.g-newsslider-headlines li i {
  @include transition(transform 0.65s);
  .dir-rtl & {
    @include transform(rotate(180deg));
  }
}

.g-newsslider-headlines {
  .arrow-container {
    position: absolute;
    margin-left: -2rem;
    .dir-rtl & {
      margin-left: 0;
      margin-right: -3rem;
    }
    top: 33%;
    font-size: 20px;
  }
}

.g-newsslider-headlines li.selected i {
  @include transform(rotate(180deg));
  .dir-rtl & {
    @include transform(rotate(0));
  }
  @include breakpoint(mobile-only) {
    @include transform(rotate(270deg));
  }
}

.g-newsslider-preview-title {
  line-height: $core-line-height - 0.25;
  font-family: get-font-family($font-family-title);
  font-weight: $font-weight-light;
  margin-top: 15rem;
  font-size: $core-font-size + 3;
  @include breakpoint(tablet-range) {
    font-size: $core-font-size + 1;
  }
  @include breakpoint(mobile-only) {
    font-size: $core-font-size + 0.8;
    margin-top: 8rem;
  }



}

.g-newsslider-preview-headerdesc {
  font-size: $core-font-size + 0.35;
  font-weight: $font-weight-regular;
  line-height: $core-line-height;
  @include breakpoint(tablet-range) {
    font-size: $core-font-size + 0.15;
  }
  @include breakpoint(mobile-only) {
    font-size: $core-font-size + 0.1;
  }
  @include breakpoint(small-mobile-range) {
    display: none;
  }
}

.g-newsslider-preview-desc {
  @include breakpoint(mobile-only) {
    display: none;
  }
}

.g-newsslider-button {
  display: inline-block;
  margin: 1rem 0;
  .button {
    @include breakpoint(small-mobile-range) {
      font-size: 0.75rem;
      padding: 0.5rem 1rem;
    }
  }
}

.g-newsslider-headlines-title {
  width: 17rem;
  @include breakpoint(desktop-range) {
    width: 13rem;
  }
  @include breakpoint(tablet-range) {
    width: 9rem;
  }
  @include breakpoint(mobile-only) {
    font-size: $core-font-size - 0.1;
  }

  display: block;
}

/* Tiny Scrollbar */
.g-newsslider-scrollbar {
  min-width: 0;
  min-height: 0;
  @include flex(0 1 32%);
  width: 32%;
  height: 100%;
  @include breakpoint(mobile-only) {
    @include flex(0 1 100% !important);
    width: 100% !important;
  }
  .viewport {
    position: relative;
  }
  .overview {
    list-style: none;
    position: relative;;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    .dir-rtl & {
      left: inherit;
      right: 0;
    }
  }
  .scrollbar {
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    background-position: 0 0;
    width: 0;
    opacity: 0;
    right: 0;
    z-index: 100;
    @include transition(all 0.35s);
    .dir-rtl & {
      right: inherit;
      left: 0;
    }
  }
  .track {
    background: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 18px;
    position: relative;
    padding: 0 1px;
  }
  .thumb {
    background: fadeout($accent-color-1, 50%);
    height: 20px;
    width: 9px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    border-radius: $border-radius;
    .dir-rtl & {
      right: 5px;
      left: inherit;
    }
  }
  .disable {
    display: none;
  }
}
.g-newsslider-pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: get-font-family($font-family-default);
  font-weight: $font-weight-bold;
  position: absolute;
  bottom: 0;
  z-index: 60;
  padding: 0 ($content-margin + $content-padding);
  li {
    cursor: pointer;
    display: block;
    float: left;
    .dir-rtl & {
      direction:rtl;
      float: right;
    }
    padding: 10px 15px;
    margin-right: 1px;
    background: transparentize($slideshow-background, 60%);
    &.selected {
      background: $accent-color-1;
    }
  }
}
.g-newsslider-navigation {
  @include display(flex);
  @include flex-flow(row wrap);
  @include flex-wrap(wrap);
  list-style: none;
  z-index: 21;
  height: 45px;
  div {
    cursor: pointer;
    min-width: 0;
    min-height: 0;
    text-align: center;
    padding-top: 10px;
    height: 100%;
    @include flex(0 1 50%);
    width: 50%;
    @include breakpoint(mobile-only) {
      @include flex(0 1 100% !important);
      width: 100% !important;
    }
    @include transition(all 0.75s ease-out);
    &.prev {
      background: $accent-color-1;
      &:hover {
        background: darken($accent-color-1, 20%);
      }
    }
    &.next {
      background: $accent-color-2;
      &:hover {
        background: darken($accent-color-2, 20%);
      }
    }
  }
}

.noSelect {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
