#g-above {
    background: $above-background;
    color: $above-text-color;
    margin: 2rem ($content-margin + $content-padding);
    box-shadow: $base-content-shadow;
    position: relative;
}

@media print {
	#g-above {
		background: #fff !important;
		color: #000 !important;
	}
}
