#g-slideshow {
	background: $slideshow-background;
	color: $slideshow-text-color;
  position: relative;
  z-index: 1;
}

@media print {
	#g-slideshow {
		background: #fff !important;
		color: #000 !important;
	}
}
